<div class="container  mb-5">
    <div class="row">
      
      <div class="mb-5 carte" *ngFor="let combattant of combattants | async">
          <img src="{{combattant.image}}" class="card-img-top" alt="{{combattant.nom}}" width="400" height="400">
          <h1>{{combattant.nom}}</h1>
          <p class="prix">{{combattant.prix}}€</p>
          <p>Prénom : {{combattant.prenom}}</p>
          <p>Année de naissance : {{combattant.naissance}}</p>
          <p>Sport : {{combattant.sport}}</p>
          <p><button (click)="EnleverDuPanier(combattant)">Enlever du panier</button></p>
      </div>

    </div>
    <div class="d-inline bg-success" *ngIf="(combattants | async)?.length>0">
      <button (click)="Payement()">Commander</button>
    </div>
  </div>



