<div class="container">
    <div class="row justify-content-center">

        <div class="mb-5 carte" *ngIf="combattant | async as cmbt">
            <img src="{{cmbt.image}}" class="card-img-top" alt="{{cmbt.nom}}" width="400" height="400">
            <h1>{{cmbt.nom}}</h1>
            <p class="prix">{{cmbt.prix}}€</p>
            <p>Prénom : {{cmbt.prenom}}</p>
            <p>Année de naissance : {{cmbt.naissance}}</p>
            <p>Sport : {{cmbt.sport}}</p>
            <p>Poids : {{cmbt.poids}} kg</p>
            <p>Taillle : {{cmbt.taille}} m</p>
            <p>Point fort : {{cmbt.pointFort}}</p>
            <p><button (click)="AjouterAuPanier(cmbt)">Ajouter au panier</button></p>
          </div>

    </div>
  </div>