<div class="container">
    <div class="row">

      <div class="mb-5 carte" *ngFor="let combattant of combattants | async | filtreProduit:barreRecherche">
        <img src="{{combattant.image}}" class="card-img-top" alt="{{combattant.nom}}" width="400" height="400">
        <h1>{{combattant.nom}}</h1>
        <p class="prix">{{combattant.prix}}€</p>
        <p>Prénom : {{combattant.prenom}}</p>
        <p>Année de naissance : {{combattant.naissance}}</p>
        <p>Sport : {{combattant.sport}}</p>
        <p><button [routerLink]="['Produit/Detail', combattant.id]">Détails</button><button (click)="AjouterAuPanier(combattant)">Ajouter au panier</button></p>
      </div>

    </div>
  </div>
