#fond {
    position: relative;
    margin: 0px auto;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    z-index: 10;
    height:110px;
    }
     
    .ruban {
    background: #424949;
    height: 50px;
    width: 380px;
    position: relative;
    left:-15px;
    top: 30px;
    float: left;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    z-index: 100;
    }
     
    .ruban h2 {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: center;
    margin:10px;
    }
     
    .ruban_gauche {
    border-color: transparent #696969 transparent transparent;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: -30px;
    top: 65px;
    z-index: -1;
    }
     
    .ruban_droit {
    border-color: transparent transparent transparent #696969;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: 350px;
    top: 35px;
    z-index: -1;
    }

    .badge {
        background-color: #fff;
        color: #000000;
    }