
<div id="fond"> 
  <div class="ruban">     
    <h2 class="text-center font-weight-bold text-capitalize mb-4'">Achat de combattants</h2>     
  </div>     
  <div class="ruban_gauche"></div>
  <div class="ruban_droit"></div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" [routerLink]="['/Acceuil']">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Catalogue']">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Panier']">Panier<span class="badge ml-1" *ngIf="PanierRempli()">{{ nbrCombattants }}</span></a>
      </li>
      <li class="nav-item" *ngIf="!EstConnecte()">
        <a class="nav-link" [routerLink]="['/Connexion']">Connexion</a>
      </li>
      <li class="nav-item" *ngIf="EstConnecte()">
        <a class="nav-link" (click)="Deconnexion()">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
