<div class="container">
  <div class="row justify-content-center" *ngFor="let usr of utilisateur | async; last as isLast">     
    <table class="table col-md-5" *ngIf="isLast">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Récapitulatif</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nom</th>
            <td>{{ usr.nom }}</td>
          </tr>
          <tr>
            <th scope="row">Prénom</th>
            <td>{{ usr.prenom }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{ usr.email }}</td>
          </tr>
          <tr>
            <th scope="row">Téléphone</th>
            <td>{{ usr.telephone }}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
  