<form class="row justify-content-center">
    <input class="form-control col-5 mb-5" type="search" placeholder="Nom, Prenom, Année, Sport, ..." aria-label="Search" [(ngModel)]="barreRecherche" name="barreRecherche">
</form>
<app-produit [barreRecherche]="barreRecherche"></app-produit>