<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center mb-4">Connexion</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputEMail" placeholder="E-Mail" [(ngModel)]="inputEMail" name="inputEMail" required autofocus/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputMotDePasse" placeholder="Mot de passe" [(ngModel)]="inputMotDePasse" name="inputMotDePasse" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Se connecter</button>
                </div>
                <div class="form-group text-center">
                    <a [routerLink]="['/Connexion/Inscription']">Pas encore de compte ? S'inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>