<div class="container">
  <div class="row justify-content-center">
    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNom">Nom</label>
          <input type="text" class="form-control shadow-sm" id="inputNom" placeholder="Nom" formControlName="inputNom" name="inputNom" [appError]="TestNom()" autofocus>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPrenom">Prénom</label>
          <input type="text" class="form-control shadow-sm" id="inputPrenom" placeholder="Prénom" formControlName="inputPrenom" name="inputPrenom" [appError]="TestPrenom()">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control shadow-sm" id="inputEmail" placeholder="adresse@gmail.com" formControlName="inputEmail" name="inputEmail" [appError]="TestEmail()">
        </div>
        <div class="form-group col-md-5">
          <label for="inputTelephone">Téléphone</label>
          <input type="tel" class="form-control shadow-sm" id="inputTelephone" placeholder="+33300000000" formControlName="inputTelephone" name="inputTelephone" [appError]="TestTelephone()">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputMotDePasse">Mot de passe</label>
          <input type="password" class="form-control shadow-sm" id="inputMotDePasse" formControlName="inputMotDePasse" name="inputMotDePasse" [appError]="TestMotDePasse()">
        </div>
        <div class="form-group col-md-6">
          <label for="inputConfirmation">Confirmation</label>
          <input type="password" class="form-control shadow-sm" id="inputConfirmation" formControlName="inputConfirmation" name="inputConfirmation" [appError]="TestConfirmation()">
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!inscriptionForm.valid" (click)="onSubmit()">Envoyer</button>
      </div>
    </form>
  </div>
</div>